@using Microsoft.AspNetCore.Identity

@model IEnumerable<Courses.Models.Course>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Cursos";
}

<div class="my-3 courseCards bg-white rounded shadow">
    <h3 style="margin-bottom: 25px">
        <i class="fas fa-graduation-cap fa-lg"></i> Cursos &nbsp;
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Create" asp-controller="Courses" class="editClass btn btn-outline-primary px-2">
                Novo curso &ensp;
                <i class="fas fa-plus-circle fa-lg" aria-hidden="true"></i>
            </a>
        }
        else
        {
            <button class="editClass btn btn-outline-primary px-2" data-toggle="top" title="Você precisa estar logado" disabled>
                Novo curso &ensp;
                <i class="fas fa-plus-circle fa-lg" aria-hidden="true"></i>
            </button>
        }
    </h3>


    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-4 course-card">
                <div class="cards">
                    <div class="cards">
                        <a asp-action="Details" asp-controller="Courses" asp-route-id="@item.CourseId">
                            <div class="container-img">
                                <img src="@Url.Content(item.Image)" />
                            </div>
                        </a>
                        <div class="card-body card-body-course">
                            <a class="titleCourse" asp-action="Details" asp-controller="Courses" asp-route-id="@item.CourseId">
                                <h5 class="card-title"><b>@item.Title</b></h5>
                            </a>
                            <h4><span class="badge badge-secondary">R$ @item.Price.ToString("F2")</span></h4>
                        </div>
                        <div class="card-footer">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                /*<a asp-action="Edit" asp-controller="Courses" asp-route-id="@item.CourseId" class="btn btn-outline-info">Atualizar</a>
                                <a onclick="ConfirmDeletion(@item.CourseId, '@item.Title', '@controller')" class="btn btn-outline-danger">Excluir</a>*/
                                <a asp-action="Matriculate" asp-controller="Matriculation" asp-route-CourseId="@item.CourseId" class="btn btn-outline-info btn-block">Matricular-se</a>
                            }
                            else
                            {
                                <button class="btn btn-outline-info btn-block" disabled data-toggle="top" title="Você precisa estar logado">Matricular-se</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_ModalDeletion" />

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })


        function ConfirmDeletion(id, Name, controller) {
            $(".Name").html(Name);

            $(".modal").modal("show");

            $(".btnDelete").on('click', function () {
                var url = "/" + controller + "/Delete/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Registro excluído");
                        location.reload();
                    }
                })
            })
        }
    </script>
}

