@model Courses.Models.User
@{
    ViewData["Title"] = "Meus dados";

    var controller = "Users";
}

<div class="data">
    <div class="card-deck">
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-header" style="height: 6em">
                    <h3 style="padding-top: 16px">
                        <i class="fas fa-address-card fa-lg"></i> &nbsp; <b>Meus dados</b>
                    </h3>
                </div>
                <div class="card-body" style="padding: 0;">
                    <a class="btn btn-light secondary float-buttom" data-toggle="tooltip" data-placement="top" title="Mudar foto" onclick="ChangePhoto('@Model.Id', '@Model.Nome', '@controller')"><i class="fas fa-edit fa-lg"></i></a>
                    @{
                        if (Model.Foto != null)
                        {
                            <div class="container-img">
                                <img src="@Url.Content(Model.Foto)" />
                            </div>
                        }
                        else
                        {
                            <img class="card-img-top" src="~/images/default.png" alt="Card image cap">
                        }
                    }
                </div>
                
                <div class="card-body">
                    <h4 class="card-title"><b>@Model.Nome</b></h4>
                    <p class="card-text">Aluno</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Matrícula</span>
                            </div>
                            <input asp-for="Matricula" style="background-color: white" readonly type="text" class="border-light form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">CPF</span>
                            </div>
                            <input asp-for="CPF" style="background-color: white" readonly type="text" class="border-light form-control cpf" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">E-mail</span>
                            </div>
                            <input asp-for="Email" style="background-color: white" readonly type="text" class="border-light form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Telefone</span>
                            </div>
                            <input asp-for="Telefone" style="background-color: white" readonly type="text" class="border-light form-control telefone" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Data criação</span>
                            </div>
                            <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white">@Model.DataCriacao.ToString("dd/MM/yyy")</span>
                        </div>
                    </li>
                </ul>

                <div class="card-body">
                    @{ if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Update" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-info">Editar dados</a>
                            <a asp-action="Promote" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-light" disabled>Promover</a>
                        }
                        else
                        {
                            <a asp-action="Update" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-info">Editar dados</a> <text>&nbsp; &nbsp;</text>
                            <a asp-action="Promote" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-light">Promover</a>
                        }
                    }
                </div>
                <div class="card-footer">
                    <small class="text-muted">Última atualização em @Model.DataAtualizacao.ToString("dd/MM/yyy")</small>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="padding-left:0px; padding-right:0px">
            <div class="card rounded">
                <div class="card-header" style="height: 6em">
                    <h3 style="padding-top: 16px">
                        <i class="fas fa-crow fa-lg"></i> &nbsp; <b>Meus cursos</b> &nbsp;
                    </h3>
                </div>
                <div class="card-body">
                    @await Component.InvokeAsync("UserMatriculations")
                </div>
            </div>
        </div>
    </div>
</div>



<partial name="_ModalChangePhoto" />

@{
    string dCriacao = Model.DataCriacao.ToString("dd/MM/yyy");
    string dAtualizacao = Model.DataAtualizacao.ToString("dd/MM/yyy");
}

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })


        function ChangePhoto(id, nome, controller) {
            $(".Nome").html(nome);

            $(".modal").modal("show");

            $(".btnChangePhoto").on('click', function () {
                var url = "/" + controller + "/ChangePhoto/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Foto adicionada");
                        location.reload();
                    }
                })
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/test/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $(".cpf").mask("999.999.999-99");
            $(".telefone").mask("(99) 9 9999-9999");
        })
    </script>

    <script>
        function LoadImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#file").attr('src', e.target.result);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

