@model Courses.Models.User
@{
    ViewData["Title"] = "Meus dados";
}

<div class="data">
    <div class="card-deck">
        <div class="col-md-3,5">
            <div class="card rounded">
                <div class="card-header" style="height: 6em">
                    <h3 style="padding-top: 16px">
                        <i class="fas fa-address-card fa-lg"></i> &nbsp; <b>Meus dados</b>
                    </h3>
                </div>
                <img class="card-img-top" src="~/images/default.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><b>@Model.Nome</b></h4>
                    <p class="card-text">Aluno</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Matrícula</span>
                            </div>
                            <input asp-for="Matricula" style="background-color: white" readonly type="text" class="border-light form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">CPF</span>
                            </div>
                            <input asp-for="CPF" style="background-color: white" readonly type="text" class="border-light form-control cpf" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">E-mail</span>
                            </div>
                            <input asp-for="Email" style="background-color: white" readonly type="text" class="border-light form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Telefone</span>
                            </div>
                            <input asp-for="Telefone" style="background-color: white" readonly type="text" class="border-light form-control telefone" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </li>

                    <li style="list-style-type: none">
                        <div class="input-group border-light">
                            <div class="input-group-prepend border-light">
                                <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white; width: 100px">Data criação</span>
                            </div>
                            <span class="input-group-text border-light" id="inputGroup-sizing-default" style="background-color: white">@Model.DataCriacao.ToString("dd/MM/yyy")</span>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a asp-action="Update" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-info">Editar dados</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Última atualização em @Model.DataAtualizacao.ToString("dd/MM/yyy")</small>
                </div>
            </div>
        </div>

        <div class="col" style="padding-left:0px; padding-right:0px">
            <div class="card rounded">
                <div class="card-header" style="height: 6em">
                    <h3 style="padding-top: 16px">
                        <i class="fas fa-crow fa-lg"></i> &nbsp; <b>Meus cursos</b> &nbsp;
                    </h3>
                </div>
                <div class="card-body">
                    @*await Component.InvokeAsync("CarrosAlugados")*@
                </div>
            </div>
        </div>


        @*<div class="card">
                    <div class="card-header">
                        <h3 class="title">
                            <i class="fas fa-address-card fa-lg"></i> &nbsp; <b>Meus dados</b> &nbsp;
                            <a asp-action="Update" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="Atualizar dados"><i class="far fa-edit fa-lg"></i></a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-signature fa-lg"></i></span>
                            </div>
                            <input asp-for="Nome" type="text" class="form-control form-control-lg" readonly />
                        </div>

                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-address-card fa-lg"></i></span>
                            </div>
                            <input asp-for="CPF" type="text" class="form-control form-control-lg cpf" readonly />
                        </div>

                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone-square fa-lg"></i></span>
                            </div>
                            <input asp-for="Telefone" type="text" class="form-control form-control-lg telefone" readonly />
                        </div>

                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-envelope fa-lg"></i></span>
                            </div>
                            <input asp-for="Email" type="text" class="form-control form-control-lg" readonly />
                        </div>

                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar fa-lg"></i></span>
                            </div>
                            <input asp-for="DataCriacao" type="date" class="form-control form-control-lg" readonly />
                        </div>

                        <div class="input-group col-8 fields">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-check fa-lg"></i></span>
                            </div>
                            <input asp-for="DataAtualizacao" type="date" class="form-control form-control-lg" readonly />
                        </div>
                    </div>

                </div>
            </div>
        *@
    </div>
</div>



<partial name="_ModalDeletion" />

@{
    string dCriacao = Model.DataCriacao.ToString("dd/MM/yyy");
    string dAtualizacao = Model.DataAtualizacao.ToString("dd/MM/yyy");
}

    @section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })


        function ConfirmDeletion(id, nome, controller) {
            $(".Nome").html(nome);

            $(".modal").modal("show");

            $(".btnDelete").on('click', function () {
                var url = "/" + controller + "/Delete/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Registro excluído");
                        location.reload();
                    }
                })
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/test/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $(".cpf").mask("999.999.999-99");
            $(".telefone").mask("(99) 9 9999-9999");
        })
    </script>
}

